{"midi":["Daisy:Teensy MIDI 1,Teensy MIDI 2"],"theme":["C:\\Users\\Michael\\Nextcloud\\Michael\\Projekte\\Teensy\\MATMidiCCSpinner\\OSC\\css\\custom.css"],"load":"C:\\Users\\Michael\\Nextcloud\\Michael\\Projekte\\Teensy\\MATMidiCCSpinner\\OSC\\MATMidiCCSpinner.json","state":"C:\\Users\\Michael\\Nextcloud\\Michael\\Projekte\\Teensy\\MATMidiCCSpinner\\OSC\\MATMidiCCSpinner.state"}